* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

/*######## BODY PAGE #########*/
body {
  display: flex;
  flex-direction: row;
  background: #f2f2f2;
}

/*######## ASIDE #########*/
.aside {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  background: #121432;
  width: 396px;
  height: 100vh;
  z-index: 1;
}

.title-logo {
  display: flex;
  gap: 15px;
  font-size: 24px;
  padding-top: 60px;
  padding-left: 13px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 97px;
}

.sto-inf {
  font-size: 18px;
  padding-top: 20px;
  padding-left: 14px;
  padding-right: 25px;
  display: grid;
  place-content: end;
  height: 100vh;
  justify-content: start;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  font-weight: bold;
  color: #fff;
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.menu li:hover {
  transform: scale(1.1);
}

.progress-bar {
  display: flex;
  position: relative;
  bottom: 30px;
  
}

/*######## DASHBOARD #########*/
.dashboard {
  background: #fff;
  position: relative;
  border-radius: 40px;
  width: 80vw;
  height: 100vh;
  margin-left: -100px;
  z-index: 1000;
}

.toggle-menu {
  position: relative;
  width: 30px;
  height: 31px;
  left: 33px;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}

.driver-toggle {
  position: relative;
  width: 30px;
  left: 33px;
  bottom: 35px;
  height: 29px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}

.search-bar {
  display: flex;
  position: relative;
  width: 473px;
  height: 50px;
  padding-left: 14px;
  padding-right: 61px;
}

.search-bar input {
  width: 473px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
}

.search-bar input:placeholder-shown {
  text-align: left;
  padding-left: 63px;
  background-color: #EFF3FB;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transform: translate(45px);
  border: none;
  background-color: #cedafc;
  width: 49px;
  height: 49px;
  cursor: pointer;
}

.dashboard-presentation {
  margin-top: 21px;
  background: rgb(206,218,252);
  background: linear-gradient(90deg, rgba(206,218,252,1) 0%, rgba(79,79,214,1) 100%, rgba(14,50,62,1) 100%);
  height: 204px;
  border-radius: 15px;
  margin-right: 58px;
  margin-left: 61px;
}

.welcome-msg-info {
  padding-top: 25px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: left;
  justify-content: center;
}

.welcome-msg-info h2 {
  color: #222;
}

.welcome-msg-info p {
  width: 350px;
  color: #222;
}

.welcome-msg-info button {
  width: 100px;
  height: 36px;
  background: #4f4fd6;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
}

.dashboard-img {
  display: flex;
  position: relative;
  bottom: 120px;
  right: 93px;
  justify-content: end;
  transition: all ease 0.3s;
}

.arrow-image{
  width: 90px;
  height: 90px;
  position: relative;
  top: 60px;
  left: 30px;
}

.dash-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 32px;
}

.dash-header h3 {
  width: 215px;
  display: flex;
  justify-content: center;
}

.dash-buttons {
  display: flex;
  width: 197px;
}

.upload-button {
  display: flex;
  justify-content: space-evenly;
  width: 137px;
  height: 40px;
  background-color: #4f4fd6;
  border-radius: 8px;
}

.upload-button button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
}

.upload-button img {
  width: 18px;
  height: 18px;
  align-self: center;
}

.dash-background-area {
  height: 207px;
}

.dash-folders-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 46px;
}

.dash-folders-header h3 {
  width: 215px;
  display: flex;
  justify-content: center;
}

.dash-folders {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 250px;
  gap: 15px;
}

.folder {
  width: 240px;
  height: 197px;
  background: #F8B849;
  border-radius: 15px;
}

.view-all-button {
  display: flex;
  align-items: center;
  width: 137px;
  height: 46px;
  padding-right:10px ;
}

.view-all-button button {
  width: 87px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

/*######## RIGHT SECTION INFO #########*/

.right-section-info {
  width: 496px;
  background-color: f2f2f2;
  height: 100vh;
  z-index: 1;
}

/*######## MEDIA-QUERY #########*/


@media (max-width: 1475px) {
  .upgrade-character {
    width: 120px;
    height: 120px;
    position: relative;
    top: 68px;
    left: 45px;
    transition: all ease 0.3s;
  }

  .arrow-image {
    width: 60px;
    height: 60px;
    position: relative;
    top: 96px;
    left: 68px;
  }

  .aside {
    padding-left: 0;
    padding-right: 40px;
  }

}

@media (max-width: 1040px) {
  .container {
    max-width: 800px;
    background: #f2f2f2;
    height: 100vh;
    max-height: 1024px;
  }

  .dashboard {
    background: #fff;
    transform: none;
    border-radius: 0;
    width: 760px;
    max-width: 800px;
    height: 100vh;
    max-height: 1100px;
  }

  .driver-toggle {
    opacity: 1;
  }

  .aside {
    position: relative;
    left: -500px;
    width: 500px;
  }


  .dashboard input:checked ~ .aside {
    left: 0;
    display: block;
  }
}
